@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", serif;
  --font-open: "Open Sans", serif;
  --font-poppins: "Poppins", serif;
}

.inputContainer {
  position: relative;
}

.inputField {
  max-width: 368px;
  padding: 26px 50px;
  border: 1.72px solid #b8b9ce;
  border-radius: 8.6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: "Nunito", serif;
  font-size: 20.64px;
  font-weight: 600;
  color: #11175d;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: white;
  background-clip: padding-box;
}

.login {
  max-width: 368px;
  padding: 26px 50px;
  border-bottom: 1px solid #03014c;
  font-family: "Nunito", serif;
  font-size: 20.64px;
  font-weight: 600;
  color: #11175d;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: white;
  background-clip: padding-box;
}

.login:focus {
  border-bottom: 2px solid #5f35f5;
}

.inputField:focus {
  border: 1.72px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #020024 0%, #8327ba 0%, #00fffe 95%) border-box;
}

.inputLabel {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 0 5px;
  font-family: "Nunito", serif;
  font-size: 18px;
  color: #888;
  transition: all 0.3s ease-in-out;
}

.inputContainer .inputField:focus + .inputLabel,
.inputContainer .inputField:valid + .inputLabel {
  top: 0;
  left: 30px;
  font-size: 14px;
  color: #555;
  padding: 0 16px;
}

.login:focus + .inputLabel,
.login:valid + .inputLabel {
  display: none;
}

.eyeToggle {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.googleDiv {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.googleDiv:hover {
  background-color: #5f35f5;
}

.googleSpan {
  transition: 0.3s ease-in-out;
}

.googleDiv:hover .googleSpan {
  color: white;
}

.showError {
  color: red;
  font-weight: 700;
  font-size: 14px;
}

.hideError {
  display: none;
}

.backgroundChatting {
  background-color: #03014c;
}
.navItem {
  padding: 5px 15px;
  background-color: white;
  color: black;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navItem:hover {
  background-color: black;
  color: white;
}

.landingDisplayTitle {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  overflow: hidden; /* Ensures the text is hidden initially */
  white-space: nowrap; /* Prevents text from wrapping */
  border-right: 4px solid white; /* The typwriter cursor */
  animation: 
    typing 2.5s steps(20, end) forwards,
    blink-caret .6s step-end infinite;
}

/* The typing animation */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}



.menuActive{
  background-color: white;
  color: #5f35f5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
}
.menuActive::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 6px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #5f35f5;
  box-shadow: inset;
  top: 0;
  right: 0;

}

.groupsList{
  position: relative;
}

.groupsList::after{
  position: absolute;
  content: '';
  bottom: 15px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #00000040;
}